<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <!-- Arguments to allow changing common parameters from the command line or when including this file from other launch files. -->
  <arg name="rate" default="1.0"/>

  <!-- The C++ talker node will publish a custom message. -->
  <node pkg="point_cloud_transport" type="talker_exec" name="talker">
    <param name="rate" value="$(arg rate)"/>
    <remap from="test_topic" to="remapped_topic"/>
  </node>

  <!-- The C++ listener node subscribes to the custom message that either talker is publishing. -->
  <node pkg="point_cloud_transport" type="listener_exec" name="listener">
    <remap from="test_topic" to="remapped_topic"/>
  </node>

 <include file="$(find point_cloud_transport)/launch/tools.launch"/>

</launch>
